<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <script>
        function applyfilter() {
            var left = document.getElementById('leftdate').value;
            var right = document.getElementById('rightdate').value;
            var link = '<th:block th:text="@{/history}" />'
            document.location.href=link + '/' + left + '/' + right;
        }
    </script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#leftdate').datepicker({dateFormat:'yy-mm-dd'});
            $('#rightdate').datepicker({dateFormat:'yy-mm-dd'});
        });
    </script>
</head>
<body>
<a th:href="@{/main}">На главную</a>
<br />
<br />
<span>Показать период</span> <br />
<label>с:<input type="date" size="10" id="leftdate" name="leftdate" /></label>
<label>По:<input type="date" size="10" id="rightdate" name="rightdate" /></label>
<br />
<button onclick="applyfilter()">Применить</button>
<br />
<br />
<th:block th:if="${begin} != null and ${finish} != null">
    <p>История за период с <span th:text="${begin}" /> по <span th:text="${finish}" /></p>
</th:block>
<th:block th:unless="${begin} != null and ${finish} != null">
    <p>Показана история за всё время</p>
</th:block>
<p>За данный период истрачено <span th:text="${costsum}" /></p>
<th:block th:each="cost : ${costlist}">
    <span th:if="${cost.isCost()}">Расход</span>
    <span th:if="${!cost.isCost()}">Доход</span>
    <div>Дата: <span th:text="${cost.getDate()}" />
    <br />
    Количество: <span th:text="${cost.getValue()}" />
    <br />
    Описание: <span th:text="${cost.getDescription()}" />
    <br />
    Тэги: <span th:text="${cost.getTags()}" />
    <br />
    Текущий баланс: <span th:text="${cost.getCurrentBalance()}" />
    <br />
    <span>======================================</span>
    <br />
    </div>
</th:block>

</body>
</html>