<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <script>
        function applyfilter() {
            var left = document.getElementById('leftdate').value;
            var right = document.getElementById('rightdate').value;
            var link = '<th:block th:text="@{/history}" />'
            document.location.href = link + '/' + left + '/' + right;
        }
    </script>

    <link th:href="@{/resources/jquery/jquery-ui.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/resources/jquery/jquery.js}"></script>
    <script th:src="@{/resources/jquery/jquery-ui.js}"></script>

    <script>
        $(document).ready(function() {
            $('#leftdate').datepicker({dateFormat:'yy-mm-dd'});
            $('#rightdate').datepicker({dateFormat:'yy-mm-dd'});
        });
    </script>
</head>
<body>
<a th:href="@{/main}">На главную</a>
<a th:href="@{/main?add=1}">Добавить ещё запись</a>
<br />
<br />
<span>Показать период</span> <br />
<label>с:<input type="text" size="10" id="leftdate" name="leftdate" /></label>
<label>По:<input type="text" size="10" id="rightdate" name="rightdate" /></label>
<br />
<button onclick="applyfilter()">Применить</button>
<br />
<a th:href="@{/history}">История за текущий месяц</a>
<a th:href="@{/history?all=1}">История за все время</a>
<br />
<th:block th:if="${begin} != null and ${finish} != null">
    <p>История за период с <span th:text="${begin}" /> по <span th:text="${finish}" /></p>
</th:block>
<th:block th:unless="${begin} != null and ${finish} != null and ${param.all} == null">
    <p>Показана история за текущий месяц</p>
</th:block>
<p th:if="${param.tag != null}">Статистика по тэгу: <span th:text="${param.tag[0]}"></span></p>
<p>За данный период истрачено <span th:text="${costsum}" /></p>
<p>Получено: <span th:text="${earned}"></span></p>
<p>Сэкономлено: <span th:text="${earned - costsum}"></span></p>
<th:block th:each="cost : ${costlist}">
    <span th:if="${cost.isCost()}">Расход</span>
    <span th:if="${!cost.isCost()}">Доход</span>
    <div>Дата: <span th:text="${cost.getDate()}" />
    <br />
    Количество: <span th:text="${cost.getValue()}" />
    <br />
    Описание: <span th:text="${cost.getDescription()}" />
    <br />
    Тэги: <span th:each="tag : ${cost.getTags()}"><a th:href="@{/history(tag=${tag}, all=${param.all})}" th:text="${tag}"/></span>
    <br />
    Текущий баланс: <span th:text="${cost.getCurrentBalance()}" />
    <br/>
    <form th:if="${param.edit == null or !param.edit[0].equals(cost.getId().toString())}" th:action="@{/history/delete}" method="get">
        <input type="hidden" name="id" th:value="${cost.getId()}" />
        <input type="hidden" th:if="${param.all} != null" name="all" value="1" />
        <th:block th:unless="${param.tag} == null"><input type="hidden" name="tag" th:value="${param.tag[0]}" /></th:block>
        <input type="submit" value="Удалить" />
    </form>
    <br />
    <span>======================================</span>
    <br />
    </div>
</th:block>

</body>
</html>