<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8-" />
  <script>
    function showForm() {
      document.getElementById("newcostform").style.display = "block";
      // document.getElementById("date").valueAsDate = new Date();
    }

    function logOut() {
      document.forms["logoutform"].submit();
    }
  </script>

  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#datepick').datepicker({dateFormat:'yy-mm-dd'});
    });
  </script>
</head>
<body>
<h2>Здравствуйте, <span th:text="${username}" /></h2>
<p>Ваш текущий баланс: <span th:text="${balance}" /></p>
<form id="logoutform" th:action="@{/logout}" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
<a href="#" onclick="logOut();">Выйти</a>

  <p>Здесь вы можете посмотреть <a th:href="@{/history}">историю</a> своего дохода и расходов, либо добавить <a href="#" onclick="showForm(); return false;" >новую запись</a>.</p>

<div id="newcostform" style="display: none;">
  <form action="/main" method="post">
    <label for="num">Сумма:</label><br />
    <input type="number" id="num" name="value" />
    <br />
    <label for="datepick">Дата:</label>
    <input type="text" id="datepick" name="date" />
    <br />
    <label for="desc">Описание:</label>
    <br />
    <textarea rows="10" cols="15" id="desc" name="description"></textarea>
    <br />
    <label for="tags">Тэги:</label><br />
    <input type="text" size="40" name="tags" id="tags" />
    <br />
    <label><input type="radio" name="type" value="0" checked="true" />Расход</label><br />
    <label><input type="radio" name="type" value="1" />Доход</label><br />
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Отправить" />
  </form>
</div>
<th:block th:if="${param.parseerror != null}">
  <div style="color: red;">Неправильный формат даты</div>
</th:block>
</body>
</html>
