<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8-" />
</head>
<body>
  <h1>Введите свои данные для регистрации</h1>
<form th:action="@{/join}" method="post">
  <label for="login">Логин:</label>
  <input type="text" size="15" id="login" name="login" />
  <br />
  <label for="password">Пароль:</label>
  <input type="password" size="15" id="password" name="password" />
  <br />
  <label for="pass_again">Повторите пароль:</label>
  <input type="password" size="15" id="pass_again" />
  <br />
  <label for="bal">Стартовый баланс:</label>
  <input type="number" size="10" id="bal" name="balance" />
  <br />
  <label for="email">Email:</label>
  <input type="text" size="15" id="email" name="email" />
  <br />
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <input type="submit" value="Зарегистрироваться" />
</form>
</body>
</html>
